@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.back {
  background: url(pilseta-min.jpg) no-repeat center;
  background-size: cover;
}

.nav-link,
.letterfirst,
.lettersecond,
.countstext,
.enquiretext,
.connect,
.textboxone,
.textboxthree,
h1,
h2 {
  color: white;
}

.letterfirst {
  font-family: "Satisfy", sans-serif;
  font-size: 3em;
}

h1 {
  font-size: 7em;
}

.title {
  font-family: "Satisfy", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 50px 0px 20px 0px;
}

.textsmall {
  font-size: 0.8em;
}

.logo {
  border: solid white 3px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* svg {
  padding-top: 20px;
  padding-bottom: 0px;
} */

.names {
  font-weight: bolder;
  line-height: 50px;
}

.clicks,
.benefits {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

.countstext {
  font-size: 3em;
  font-weight: 50;
  align-self: flex-start;
}

.btnmargin {
  margin: 50px 0px 50px 0px;
}

.btnwhite {
  color: white;
  border: white solid 1px;
}

.h100vh {
  height: 100vh;
}

.h90vh {
  height: 90vh;
}
.pad100 {
  padding-top: 100px;
}

/* .h40vh {
  height: 40vh;
  min-height: 500px;
} */

.greenfont {
  color: green;
  font-size: 1em;
  margin: 100px 0px 30px 0px;
}

.pic1 {
  background: url(south-america_mini.jpg) no-repeat center;
  background-size: cover;
}

.pic2 {
  background: url(central-america_mini.jpg) no-repeat center;
  background-size: cover;
}

.pic3 {
  background: url(antarctica_mini.jpg) no-repeat center;
  background-size: cover;
}

.h336 {
  height: 336px;
  display: flex;
}

.backmid {
  background: url(group-expeditions-bg-min.jpg) center no-repeat;
  background-size: cover;
}

.benefits {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgmount {
  background: url(homepage-about-us-bg.jpg) center no-repeat;
  background-size: cover;
}

.backdown {
  background: url(homepage-custom-tours-bg_mini.jpg) center no-repeat;
  background-size: cover;
}

.backblack {
  background-color: black;
}

.southam1 {
  background: url(By-FOTOGRIN-shutterstock-710456194-1000.jpg) center no-repeat;
  background-size: cover;
}
/* .southam2 {
  background: url(By-Aleksandra-H.-Kossowska-shutterstock-298363703-800.jpg)
    center no-repeat;
  background-size: cover;
  height: 200px;
} */

.southam2,
.southam4 {
  background-color: white;
}

.southam1,
/* .southam2, */
.southam3
/* .southam4 */ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.southam2 {
}

.centered {
  height: initial;
}

.textboxone,
.textboxthree {
  margin-bottom: 20px;
}

.h-250px {
  height: 250px;
}

.h-300px {
  height: 300px;
}

.picbtn {
  text-align: center;
  display: absolute;
}

.southampictop2 {
  background: url(By-Aleksandra-H.-Kossowska-shutterstock-298363703-800.jpg)
    center no-repeat;
  background-size: cover;
  height: 50%;
  margin: 0px -15px 0 -15px;
}

.southam3 {
  background: url(gustavo-ramirez-shutterstock-765561112-coffee-800.jpg) center
    no-repeat;
  background-size: cover;
}
.southampictop4 {
  background: url(Joe-Tabacca-shutterstock-800.jpg) center no-repeat;
  background-size: cover;
  height: 40%;
  margin: 0 -15px 0 -15px;
}

.backdarkgreen {
  background-color: rgb(0, 26, 0);
}

.backgrey {
  background-color: rgb(216, 215, 215);
}

.pd20px {
  padding: 20px;
}
